In [38]:
import pandas as pd
from scipy.io import loadmat
import sqlite3
import os
import pandasql
from sqlalchemy import create_engine

# Import Data from .mat file

In [39]:
mat = loadmat("nydt_7389415331.mat")

In [40]:
allTrials = pd.DataFrame(mat['allTrials'])
allTrials = allTrials.rename(columns={0: "trial_id", 1: "task_type_id", 2: "task_id"})
DATA = pd.DataFrame(mat['DATA'])
seed = pd.DataFrame(mat['seed'])
trainingDATA = pd.DataFrame(mat['trainingDATA'])

In [41]:
allTrials

     trial_id  task_type_id  task_id
0           1             9        0
1           2             0      354
2           3             5        5
3           4             0       27
4           5             3       25
..        ...           ...      ...
796       797             2       10
797       798             0      103
798       799             8       53
799       800             0     1000
800       801             9        9

[801 rows x 3 columns]

# TODO:Data Cleaning (plz refer to the ERD)

# TODO: Building SQLite DB

In [43]:
engine = create_engine('sqlite:///Machine2.db')

# Convert the DataFrame to an SQL table
allTrials.to_sql('allTrials', engine, if_exists='replace', index=False)
conn = sqlite3.connect("Machine2.db")

# TEST: Read tables from SQLite DB

In [44]:
query=''' 
SELECT *
FROM allTrials
'''
pd.read_sql_query(query,conn)

     trial_id  task_type_id  task_id
0           1             9        0
1           2             0      354
2           3             5        5
3           4             0       27
4           5             3       25
..        ...           ...      ...
796       797             2       10
797       798             0      103
798       799             8       53
799       800             0     1000
800       801             9        9

[801 rows x 3 columns]

# Maybe Later: PostgreSQL

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Assuming you have a Pandas DataFrame named 'df'

# Create a PostgreSQL database connection
engine = create_engine('postgresql://your_username:your_password@your_host/your_database')

# Convert the DataFrame to a PostgreSQL table
df.to_sql('your_table_name', engine, if_exists='replace')